.border, .border2 {
    border: solid black;
    height: 50px;
    width: 50px;
    text-align: center;
}

.border2 {
    background-color: black;
}

.noborder {
    text-align: center;
}

table {
    border-collapse: collapse;
}

input {
    height: 50px;
    width: 50px;
    font-size: 45px;
}

.topnav a:hover {
    background-color:#b0c9cf;
    background-size:auto
}

.topnav a.active {
    background-color: #b0c9cf;
    background-size: auto
}
